// Toggles
//
// Used in conjunction with global variables to enable certain theme features.

@mixin box-shadow($shadow...) {
  @if $enable-shadows {
    box-shadow: $shadow;
  }
}

@mixin transition($transition...) {
  @if $enable-transitions {
    @if length($transition) == 0 {
      transition: $transition-base;
    } @else {
      transition: $transition;
    }
  }
}

// Utilities
@import "breakpoints";
@import "hover";
@import "image";
@import "badge";
@import "resize";
@import "screen-reader";
@import "size";
@import "reset-text";
@import "text-emphasis";
@import "text-hide";
@import "text-truncate";
@import "transforms";
@import "visibility";

// // Components
@import "alert";
@import "buttons";
@import "cards";
@import "pagination";
@import "lists";
@import "list-group";
@import "nav-divider";
@import "forms";
@import "table-row";

// // Skins
@import "background-variant";
@import "border-radius";
@import "gradients";

// // Layout
@import "clearfix";
// @import "navbar-align";
@import "grid-framework";
@import "grid";
@import "float";
